<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login?</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cadastro/login.css' %}">
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>